<a href="https://colab.research.google.com/github/mdzaeem/100-days-of-machine-learning/blob/main/FeatureEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [6]:
df=pd.read_csv("/content/customer_data.csv")
df.set_index("id", inplace=True)

In [38]:
df.head()

,age,gender,income,education,region,loyalty_status,purchase_frequency,purchase_amount,product_category,promotion_usage,satisfaction_score
id,,,,,,,,,,,
1,27,Male,40682,Bachelor,East,Gold,frequent,18249,Books,0,6
2,29,Male,15317,Masters,West,Regular,rare,4557,Clothing,1,6
3,37,Male,38849,Bachelor,West,Silver,rare,11822,Clothing,0,6
4,30,Male,11568,HighSchool,South,Regular,frequent,4098,Food,0,7
5,31,Female,46952,College,North,Regular,occasional,19685,Clothing,1,5

In [30]:
df["promotion_usage"].value_counts()

promotion_usage
0    69920
1    30080
Name: count, dtype: int64

In [8]:
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns="satisfaction_score"),df["satisfaction_score"],test_size=0.2)

In [118]:
oe=OrdinalEncoder(categories=[["HighSchool","College","Bachelor","Masters"],["Regular","Silver","Gold"],["rare","occasional","frequent"]])
X_train_oe=oe.fit_transform(X_train[["education","loyalty_status","purchase_frequency"]])
X_test_oe=oe=oe.fit_transform(X_test[["education","loyalty_status","purchase_frequency"]])
X_train_oe.shape

(80000, 3)

In [98]:
# this np.int32 is important it should be in string forman
ohe=OneHotEncoder(drop='first',sparse=False,dtype=np.int32)
X_train_ohe=ohe.fit_transform(X_train[["gender","region","product_category"]])
X_test_ohe=ohe.fit_transform(X_test[["gender","region","product_category"]])
X_train_ohe.shape

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80000, 10)

In [100]:
# using reshape
le=LabelEncoder()
y_train_le = le.fit_transform(y_train).reshape(-1, 1)
y_test_le = le.fit_transform(y_test).reshape(-1, 1)
y_train_le.shape

(80000, 1)

In [78]:
y_test_le

array([4, 4, 3, ..., 5, 2, 2])

In [88]:
X_train_first = X_train.drop(columns=["gender","education","region","loyalty_status","purchase_frequency","product_category","promotion_usage"])
X_test_first = X_test.drop(columns=["gender","education","region","loyalty_status","purchase_frequency","product_category","promotion_usage"])

In [90]:
X_train_first.shape

(80000, 3)

In [102]:
final_train_df=np.concatenate((X_train_first,X_train_oe,X_train_ohe,y_train_le),axis=1)
final_test_df=np.concatenate((X_test_first,X_test_oe,X_test_ohe,y_test_le),axis=1)

In [103]:
y_train_le.shape

(80000, 1)

In [105]:
final_train_df = pd.DataFrame(final_train_df)
final_test_df = pd.DataFrame(final_test_df)

In [106]:
final_train_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,20.0,22258.0,7362.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0
1,32.0,11822.0,4518.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0
2,27.0,41207.0,14695.0,1.0,1.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0
3,36.0,24711.0,9944.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0
4,22.0,43881.0,14689.0,1.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,34.0,48718.0,17179.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0
79996,29.0,45038.0,17680.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0
79997,25.0,28701.0,7962.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0
79998,34.0,39557.0,13662.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0
79999,35.0,35549.0,11845.0,3.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0

In [107]:
final_train_df.shape

(80000, 17)

In [7]:
from sklearn.compose import ColumnTransformer

In [11]:
# Node: Label Encode cannot be used with ColumnTransformer
transformer = ColumnTransformer(transformers=[
    ("tnf1",OrdinalEncoder(categories=[["HighSchool","College","Bachelor","Masters"],["Regular","Silver","Gold"],["rare","occasional","frequent"]]),
     ["education","loyalty_status","purchase_frequency"]),
    ("tnf2",OneHotEncoder(drop='first',sparse=False,dtype=np.int32),["gender","region","product_category"])
    ],remainder="passthrough")

In [18]:
transformer.fit_transform(X_train).shape

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80000, 17)

In [17]:
transformer.fit_transform(X_train).shape

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80000, 17)